---
layout: nil
---

/* Included files. */

{% include assets/stylesheets/font-awesome.min.css %}

{% include assets/stylesheets/flex-layout.css %}
{% include assets/stylesheets/scrollbar-fix.css %}

/* Local styles. */

body {
  background-attachment: fixed;
  background-image:      url('images/background-tree-e5e5e5.png');
  background-position:   center center;
  background-repeat:     no-repeat;
}

nav ul, ul.contact-list {
  padding-left: 0px;
}

nav ul li, ul.contact-list li {
  list-style: none;
  margin-left: 0;
}

@media (max-width: 768px) {
  nav ul li, ul.contact-list li {
    text-align: center;
  }
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}

a {
  text-decoration: none;
}

hr {
  border-top: 2px solid #000;
  opacity: 1;
}

hr:after {
  content: ' ';

  /* Display */
  display: block;
  border-top: 1px solid #000;
  margin: 0 10px;

  /* Positioning */
  position: relative;
  top: 2px;
}

ul li {
  margin-left: 1em;
}

.card {
  background-color: rgba(255,255,255,0.7);
}
