---
layout: nil
---

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column
}

.is-sticky {
  position: sticky;
  display: inline-block;
  top: 0;
  bottom: 0;
  max-height: 100vh;
  overflow-y: scroll;
}
