---
layout: default
---

<header class="hero is-success">
  <div class="hero-body">
    <div class="container is-max-desktop level">
      <div class="level-left">
        <div class="level-item is-relative">
          <figure class="image is-64x64" style="left: -0.5rem;">
            <img src="{{site.baseurl}}/assets/images/favicon.png" />
          </figure>
        </div>

        <div class="level-item">
          <p>
            <span class="title">Sleeping King Studios</span>
            <br />
            <span class="subtitle is-hidden-mobile">
              Hic&nbsp;Iacet&nbsp;Arthurus Rex&nbsp;Quondam Rexque&nbsp;Futurus
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

{% include pages/main.md max-width="desktop" %}

{% include pages/footer.md max-width="desktop" %}
