---
---

<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/stylesheets.css">

    <script src="/assets/javascripts.js"></script>
  </head>

  <body class="container">
    <h1 class="title text-center" style="margin-top:10px;">{{ page.title }}</h1>

    <div class="row">
      <div class="col-sm-3">
        <div class="hidden-xs">
          <hr style="margin-top:0px;">

          <h3>
            <span class="visible-lg-inline">Site</span>
            Navigation
          </h3>
        </div>

        <nav>
          <ul>
            <li>
              <h4>
                <a href="/">
                  <i class="fa fa-fw fa-sm fa-home hidden-xs"></i>
                  Home
                </a>
              </h4>
            </li>
            <li>
              <h4>
                <a href="/projects">
                  <i class="fa fa-fw fa-rocket hidden-xs"></i>
                  Projects
                </a>
              </h4>
            </li>
            <li>
              <h4>
                <a href="/about">
                  <i class="fa fa-fw fa-question hidden-xs"></i>
                  About
                </a>
              </h4>
            </li>
          </ul>

          <div class="hidden-xs">
            <hr>
          </div>
        </nav>
      </div>
      <div class="col-sm-9">
        <hr style="margin-top:0px;">

        {{ content }}
      </div>
    </div>
  </body>
</html>
