---
---

<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/stylesheets.css">

    <script src="assets/javascripts.js"></script>
  </head>

  <body>
    <div class="container">
      <h1>{{ page.title }}</h1>

      {{ content }}
    </div>
  </body>
</html>
